body{
	margin: 0px;
	text-align:center;
}

header{
	height: 40px;
	padding-top: 25px;

}

.section1{
	background: url("back-c1.png") no-repeat;
	min-height: 100vh;
	background-size: contain;
	
}
.menu{
	display: inline-block;
	float: right;
}

.menu-bg{
	background: url("menu-bg.png") no-repeat;
	position: absolute;
	min-height: 100vh;
	width: 100%;
	background-size: contain;
}
.menu-close{
	background: url("close-menu.png") no-repeat;
	margin-left: 675px;
	position: absolute;
	height: 40px;
	width: 32px;
	margin-top: 20px;
	background-size: 100%;
	cursor: pointer;
}
.menu-list{
	margin-top: 95px;
	margin-left: 150px;
}
.menu-list a{
	color: #626262;
	font-size: 25px;
	font-style: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-family: montserrat;
	cursor: pointer;
	display: block;
	text-align: left;
	margin-bottom: 10px;
	
}
.menu-list a:hover{
	color: white;
	text-decoration: underline;
}
.hidden{
	display: none;
}

.menu .btn{
	display: block;
	color: white;
	font-size: 7.5px;
	font-style: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-family: montserrat;
	border-bottom:2px solid white;
	border-top:2px solid white;
	padding: 4px 0px;
	cursor: pointer;
	text-align: left;
	width: 25px;

}

.logo{
	width: 100px;
	height: 40px;
	background-color: #000000;
	float: left;

}
.logo a{
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 40px;
	font-family: montserrat;
	vertical-align: middle;
    display: block;
    letter-spacing: 0.15em;
}

.smile{
color: white;
	font-size: 110px;
	font-weight:100;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 20px;
	font-family: raleway;
	margin-left: 255px;
	letter-spacing: 0.12em;
	margin-top: 170px;
	display: inline-block;
}
.nothing{
    color: white;
	font-size: 32px;
	font-weight: 600;
	text-decoration: none;
	line-height: 20px;
	font-family: raleway;
	margin-top: 19px;
	white-space: nowrap;
	margin-left: 260px;
	display:block;
	letter-spacing: 0.12em;
}
.container{
	width: 600px;
	margin: 0 auto;
}
.container-50{
	width: 700px;
	margin: 0 auto;
}
.navigation{
	margin-top: 50px;
	margin-right: 150px;
	display: inline;
}
.dot{
	margin-top:110px; 
	
}
.dot-current{
	
}
.dot img{
	width: 8px;
	margin-right: 10px;
}
.section2{
	background: white;
	height: 370px;
}
.h2{
	color: black;
	font-size: 30px;
	font-weight: 100;
	text-decoration: none;
	line-height: 50px;
	font-family: raleway;
	white-space: nowrap;
	display:block;
	letter-spacing: 0.12em;
	padding-top:45px; 
}
.h1{
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	line-height: 20px;
	font-family: raleway;
	white-space: nowrap;
	display:block;
	letter-spacing: 0.12em;
}
.t1{
	color: black;
	font-size: 10px;
	font-weight: 600;
	text-decoration: none;
	padding-top: 25px; 
	font-family: raleway;
	white-space: nowrap;
	display:block;
	letter-spacing: 0.12em;
}
.t2{
	color: black;
	font-size: 10px;
	font-weight: 400;
	text-decoration: none;
	line-height: 20px;
	font-family: raleway;
	white-space: nowrap;
	display:block;
	margin-top: 33px;
	letter-spacing: 0.12em;
}
.line{
	background: url("line.png") no-repeat;
    width: 40px;
    height: 1px;
    margin:auto;
    margin-top: 25px;

}
.section3{
	background: #ffe9e2;
	height: 325px;

}
.slide-s3{
	width: 399px;
	float: right;
}
.t3{
	color: black;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	padding-top: 73px;
	line-height: 25px; 
	font-family: raleway;
	white-space: nowrap;
	padding-right: 80px;
	float: left;
}
.t4{
	color: black;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	font-family: raleway;
	white-space: nowrap;
	float: left;
	padding-top: 25px;
	text-align: left;
}
.nav-bar{
	padding-top: 25px;
float: left;
}
.nav-bar img{
	width: 7px;
	height: 7px;
	margin-right: 10px;
}
.section4{
	background: white;
	height: 585px;
}
.h3{
	margin-top: 77px;
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	line-height: 20px;
	font-family: raleway;
	white-space: nowrap;
	display:block;
	text-align: left;
	
}
.table{
display: table;
border-collapse: collapse;
width: 700px;
margin-top: 70px;

}
.row{
display: table-row;
border-collapse: collapse;
}
.cell{
display: table-cell;
border:1px solid #dcdcdc;
border-collapse: collapse;
height: 145px;
width: 350px;
padding-left: 28px;
padding-right: 50px;
}
.t5{
color: black;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	font-family: raleway;
	text-transform: uppercase;
	padding-top: 25px;
	text-align: left;
}
.t6{
color: black;
	font-size: 10px;
	font-weight: 400;
	text-decoration: none;
	font-family: raleway;
	
	float: left;
	padding-top: 20px;
	text-align: left;
}
.t7{
color: black;
	font-size: 10px;
	font-weight: 400;
	font-style: italic;
	font-family: raleway;
	line-height:20px;
	float: left;
	text-align: left;
}
.section4 .line{
	background: url("line-s4.png") no-repeat;
    width: 40px;
    height: 2px;
    float: left;
    display: block;
    margin-top: 20px;

}
.reasons-btn{

	display: block;
	color: black;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-family: montserrat;
	border:1px solid black;
	border-radius: 3px;
	padding: 10px 5px;
	cursor: pointer;
	width: 140px;
	margin: auto;
	margin-top: 33px;
	
